@charset "utf-8";
.full-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body{
    /*background-image: url(../images/index-bg.jpg);
    background-repeat: no-repeat;
    background-size: 2259px;
    background-repeat: no-repeat;
    background-position: center top;
*/}
.container{
    z-index: 100;position: relative;left:0;top:0;
}
  
.h448{
    height:448px;
}



#index1 .item{
    display:block;width:100%;height:75px;line-height:74px;
    background-image: url(../images/icon-menu-bg1.jpg);
    background-size: 100% 75px;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    font-size:18px;color:#221815;
}
#index1 .item:hover{
    background-color: #f7f7f8;
    background-image: none;
    color:#bc0b0b;
}
.bg-gray{
    background-color: #f2f2f2;
}
.img-thumb-w100{
    display:block;width:100%;height:auto;
}
.adv-item1{
    display:block;float:left;width:290px;height:144px;margin-bottom:10px;
}

#slideBox2 img{
    height:295px;
}  
.index-text{
    font-size:15px;color:#333;line-height:25px;margin-top:20px;height:200px;
}
.index-text p{
    text-indent: 2em;
}
#hssl .item .lft,#hssl .rt{
    font-size:15px;
}
#index-adv .adv-item1{
    height:103px;margin-bottom:0;
}

#footer{
    border-top:5px solid #eabc9b;margin:66px auto 0;
    padding:79px 0 ;
}
#footer p{
    text-align: center;
    font-size:18px;
    color:#3e3a39;
    line-height:1.4em;
}
#footer p strong{
    font-size:24px;font-weight: normal;
}
#footer p small{
    font-size:12px;
}
#main-content{
    padding-left:10px;
}
#main-content .text-list .item,#main-content .text-list .rt{
    height:53px;line-height:53px;font-size:15px;
}
#main-content .text-list .item .lft{
    background-image: url(../images/icon-circle.png);
    background-position: 5px 24px;
}
#main-content .hr{
    margin:18px auto 25px;border-bottom:1px dashed #ddd;
}
#breadcrumb2{
    height:40px;line-height:40px;
    font-size:14px;color:#727171;
}
.icon-pos{
    padding:1em 1em;
    background-image: url(../images/icon-pos.jpg);
    background-repeat: no-repeat;
    background-position: center;
}