@charset "utf-8";
.full-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body{
    background-image: url(../images/index-bg.jpg);
    background-repeat: no-repeat;
    background-size: 2259px;
    background-repeat: no-repeat;
    background-position: center top;
}
.container{
    z-index: 100;position: relative;left:0;top:0;
}

#nav {
    display:block;margin-top:324px;
     background-color: #243997;height:61px;
}
#nav .container{
  
}
#nav a {
    display:block;
    float:left;
    height:61px;line-height:61px;
    font-size:20px;
    color:white;
    font-weight: bold;
    width:14.2%;
    text-align: center;position: relative;left:0;top:0;
}
#nav .on .on-bg{
    display:block;position: absolute;bottom:0;
    background-image: url(../images/nav-on-bg.jpg);
    width:16px;height:7px;
    left:50%;margin-left:-8px;
}
#nav .on{background-color: #1d2c6d;}
#sub-nav{
    position: relative;top:-6px;
    display:block;
    background-color: white;
    color:#3d3e3e;
    font-size:18px;
    height:51px;
    line-height:51px;
    box-sizing: content-box;
    border:1px solid #eee;
    border-top:none;
}
#sub-nav a{
    display:block;float:left;height:53px;line-height:53px;padding:0 25px;color:#000;
}


.index-title {
    width: 100%;
    font-size: 20px;
    color: #38469b;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #f0ebe0;
}
.index-title .blue-line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #38469b;
}
.index-title .color-gray {
    color: #d9d9d9;
    letter-spacing: 3px;
}
.index-title .more {
    float: right;
    font-size: 14px;
    color: #808080;
}
#index-gsjj img.thumb {
    float: left;
    display: block;
    width: 212px;
    height: 217px;
}
#index-gsjj p {
    margin-left: 230px;
    line-height: 2em;
    text-indent: 2em;
}
#index-gsjj {
    padding: 15px 0;
    font-size: 14px;
    height: 257px;
    *height: 227px;
}
#index-gsjj .more {
    text-align: right;
    color: #334098;
}
#xwdt .title {
    font-size: 22px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#xwdt .text {
    color: #666666;
    border-bottom: 1px solid #f0ebe0;
    padding: 0 15px 6px;
    height: 54px;
    *height: 47px;
}
#xwdt .text-list .item,
#index-notice .item {
    color: #000;
}
#index-notice {
    height: 142px;
    *height: 122px;
    padding: 10px 0;
}
#index-cpzs {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 190px;
}
#index-cpzs .wrap {
    width: 800px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    padding-top: 10px;
}
#index-cpzs .wrap .item {
    margin: 0 5px;
    width: 190px;
    height: 180px;
    float: left;
    display: block;
}
#index-cpzs .wrap .item img {
    display: block;
    width: 100%;
    height: 100%;
}
#index-fwd {
    background-color: #f2f2f2;
}
#index-fwd .title {
    text-align: center;
    line-height: 45px;
    line-height: 50px;
    font-size: 24px;
    color: #080808;
}
#index-fwd .tab-wrap {
    text-align: center;
    color: #999;
}
#index-fwd .tab-wrap a,
#index-fwd .tab-wrap span {
    line-height: 38px;
}
/* 本例子css */

.slideGroup {
    width: 1087px;
    margin: 0 auto;
    text-align: left;
}
.slideGroup .parHd {} .slideGroup .parHd ul {
    display: block;
    width: 100%;
    text-align: center;
}
.slideGroup .parHd ul li {
    display: inline;
    color: #999;
    line-height: 40px;
}
.slideGroup .parHd ul li.on {
    color: #334098;
}
.slideGroup .slideBox {
    overflow: hidden;
    zoom: 1;
    padding: 10px 30px 10px 30px;
    position: relative;
    border: none;
}
.slideGroup .sPrev,
.slideGroup .sNext {
    position: absolute;
    left: 0;
    top: 50px;
    display: block;
    width: 30px;
    height: 94px;
    background: url(../images/icon-left.png) center center no-repeat #f4f4f4;
}
.slideGroup .sNext {
    left: auto;
    right: 0;
    background: url(../images/icon-rt.png) center center no-repeat #f4f4f4;
}
.slideGroup .sPrev:hover,
.slideGroup .sNext:hover {
    border-color: #f60;
}
.slideGroup .parBd ul {
    overflow: hidden;
    zoom: 1;
}
.slideGroup .parBd ul li {
    margin: 0 8px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}
.slideGroup .parBd ul li .pic {
    text-align: center;
}
.slideGroup .parBd ul li .pic img {
    display: block;
    width: 242px;
    height: 165px;
    padding: 2px;
    border: 1px solid #ccc;
}
.slideGroup .parBd ul li .pic a:hover img {
    border-color: #999;
}
.slideGroup .parBd ul li .title a {
    line-height: 24px;
    font-size: 14px;
    padding: 12px 0;
}
#index-bt {
    background-image: url(../images/bt-bg.jpg);
    background-repeat: repeat;
    color: white;
}
#index-bt .odd {
    background-color: #2c398c;
}
#index-bt .eve {
    background-color: #374392;
}
#index-bt .dvd3 img {
    box-sizing: content-box;
    width: 47px;
    height: 47px;
    padding: 20px;
    border: 2px solid #4a5bc8;
    margin: 44px auto 38px;
    border-radius: 50%;
    display: block;
    background-color: #f0ebe0;
}
#index-bt .dvd3 span {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
}
#index-bt .dvd3 {
    padding-bottom: 93px;
    background-image: url(../images/icon-rt2.png);
    background-repeat: no-repeat;
    background-position: center 237px;
}
#index-yjcg {
    padding: 27px 0 53px;
    background-color: #f4f4f4;
}
#index-yjcg .title {
    height: 50px;
    line-height: 50px;
}
#index-yjcg .title .more {
    float: right;
    color: #005195;
    font-size: 15px;
}
#index-yjcg .title .text {
    display: inline-block;
    border-bottom: 4px solid #414e9f;
    height: 50px;
    line-height: 50px;
    color: #121d27;
    font-size: 22px;
}
.picMarquee-left {
    position: relative;
    padding:20px 0;
}
.picMarquee-left .hd {
    position:absolute;
    left:-40px;
    width:1100px;
    top:40px;
    
}
.picMarquee-left .hd .prev,
.picMarquee-left .hd .next {
    position: absolute;
    left: 0;
    top: 50px;
    display: block;
    width: 30px;
    height: 94px;
    background: url(../images/icon-left.png) center center no-repeat #f4f4f4;
}
.picMarquee-left .hd .next {
    background: url(../images/icon-rt.png) center center no-repeat #f4f4f4;
    left:auto;
    right:0;
}
.picMarquee-left .hd .prevStop {
    background-position: -60px 0;
}
.picMarquee-left .hd .nextStop {
    background-position: -60px -50px;
}
.picMarquee-left .bd {
    overflow: hidden;
}
.picMarquee-left .bd ul {
    overflow: hidden;
    zoom: 1;
}
.picMarquee-left .bd ul li {
    margin: 0 4px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}
.picMarquee-left .bd ul li .pic {
    text-align: center;
}
.picMarquee-left .bd ul li .pic img {
    width: 250px;
    height: 253px;
    display: block;
    background-color: white;
}
.picMarquee-left .bd ul li .pic a:hover img {
    border-color: #999;
}
.picMarquee-left .bd ul li .title {
    line-height: 24px;
}

#footer{
    background-color: #243997;
    padding:44px 0 35px;
    color:white;
    text-align: center;
    position: relative;left:0;top:0;
}
#footer .container{
    z-index:500;
}
#footer .ct{
    line-height: 1.7em;
    margin-bottom:12px;
}


#aside  ul{
    display:block;width:100%;
    padding-bottom:10px;
}
#aside ul li{
    display:block;
    width:100%;
}
#aside  ul li a.item{
    font-size:14px;
    color:#666;
    display:block;width:100%;border:1px solid #d1171a;
    height:33px;
    line-height:33px;
    text-align: center;
    background-image: url(../images/aside-menu.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top:10px;
}

#aside ul li a.title{
    font-size:14px;
    color:white;
    display:block;width:100%;border:1px solid #d1171a;
    height:33px;
    line-height:33px;
    text-align: center;
    background-color:#d1171a;
}
#aside ul li a.lst-child{
   /* border-bottom:none;*/
}

#aside ul li:hover a.item,#aside  ul li.on a{
    color:#d1171a;
}




#page {
    padding:23px 0;text-align: center;
}

#article h4.title{
    font-size:21px;color:#000;text-align: center;
    line-height:30px;
    padding:30px 60px 21px;
    font-weight: normal;
}
#article p.desc{
    text-align: center;color:#878787;
    padding:6px;
    font-size:15px;
    border:1px dashed #c9c9c9;
}

#article-text{
    line-height: 2.5em;
    text-indent: 2em;
    font-size: 15px;
    color:#222222;
    min-height:500px;
    padding:20px 20px 60px;
}
#article-text p{
    padding-bottom: 20px;
    line-height:1.7em;
}
#article-text p img{
    display:block;
    margin:10px auto;
    width:60%;
    height:auto;
}

#com-menu{
    padding:16px 0 13px;
    border-bottom:1px solid #e6e6e6;   
}
#com-menu a{
    display:block;
    padding:0 0 6px;
    float:left;
    margin-right:10px;
}
#com-menu a span{
    width:auto;
    display:block;
    padding: 0 22px;
    height:30px;
    line-height:30px;
    background-color: #f2f2f2;
    color:#333;
}
#com-menu a.on span{
    background-color: #3a73c1;
    color:white;
}
#com-menu a.on{
    background-image: url(../images/icon-down-blue.png);
    background-position: center bottom;
    background-repeat:no-repeat;
    
}

#bread-crumb{
    background-color: #d1171a;
    color:white;
    font-family: "宋体";
    font-size:13px;
    font-weight: normal;
    text-indent: 35px;
    height:33px;
    line-height:33px;
    background-image: url(../images/breadcrast.jpg);
    background-position: 15px center;
    background-repeat:no-repeat;
}
#main-ctnt{
    min-height:480px;
    display: block;
    width: 870px;
    float: right;
    margin-right: 40px;
    margin-left: 0;
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid #d1171a;
}
#imglist {
    min-height:480px;
    padding:20px 10px;
}
.img-list .item{
       width: 23%;
    margin: 20px 1% 0;
    float: left;
}
.img-list .item img.thumb{
    display:block;
    width:100%;
    height:140px;
    margin:0 auto;
}
.img-list .item .pd{
    padding:4px 4px 15px 4px;border:1px solid #ddd;display:block;width:100%;
}
.img-list .item span.text{
    display:block;
    color:#777;
    line-height: 1.4em;
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    padding-left:14px;
}
.img-list .item span.title{
    margin-top:15px;
    font-size:14px;color:#181818;
    background-image: url(../images/icon-imglist.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:14px;
}
.img-list hr{
    margin-top:20px;border-top:none;border-bottom:1px dashed #ddd;
}
#form .form-title{
    font-size:16px;
    font-weight: bold;
    color:#808080;
    height:55px;line-height: 55px;
    color:#0d4335;
}
#form .form-title .rt{
    float:right;
    color:#808080;
    font-weight: normal;
}
.form-control{
    padding:8px 0;
}
.form-control label,.form-control .input-text,.form-control .text{
    line-height:25px;height:25px;box-sizing: border-box;display:block;font-size:16px;color:#808080;
}
.form-control .text{
    text-indent: .5em;text-align: left;
}
.form-control label{
    text-align: right;
    padding:0 8px;
}
.form-control .required{
    color:#ff0000;
    padding:0 8px;
    line-height: 25px;
}
.form-control .input-radio{
    width:auto;
}
.form-control .input-textarea{
    height:100px;
}
.form-control .btn{
    height:31px;
    line-height: 31px;
    display:block;
    margin:20px auto;
    color:white;
    font-size:16px;
    background-color: #33439b;
    padding:0 22px;
    border-radius: 4px;
    border:none;
}
.form-control label.error{
    display:block;width:100%;
    padding-bottom:12px;
    color:red;
    padding-left:33.333%;
    font-size:12px;
    text-align: left;
    float:left;
    line-height:18px;
}


#maparea {
    width:600px;
    display:block;
    margin:0 auto;
    padding-top:30px;
    padding-bottom: 30px;
}
#maparea .map{
    height:360px;
    width:100%;
    border:1px solid #dcdadc;
}
#maparea h4{
    height:52px;
    line-height:52px;
    text-align:center;
    font-size:16px;
    color:#4c4c4c;
    border-bottom:1px solid #f0ebe0;
    margin-bottom: 16px;
    font-weight: normal;
}
#maparea .erweima{
    width:138px;background-color: #f0f0f0;border:1px solid #eae9ea;margin:0 auto;height:138px;border-radius: 4px;
}
#maparea .erweima .thumb{
    width:119px;height:119px;border:1px solid #d8d7d8;
    display:block;margin:10px auto;
    border-radius: 4px;
}
#maparea  p{
    font-size:14px;
    height:30px;line-height:30px;color:#333;
    text-align: center;
}
#maparea .info{
    padding-top:15px;
}
#maparea .info p{
    text-align: left;color:#333;
    line-height:1.4em;
    height:40px;
}

#head-top {
    height:33px;background-color:#ebf0f3;
    color:#8d8d8d;line-height:31px;
    box-sizing: border-box;
    border-bottom: 2px solid #1664bb;
}
#head-top .title{
    padding-right:22px;
    background-image: url(../images/top-news.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.body-container {
    background-color: white;padding:12px 0;
}

#slideBox {
    height:387px;
}

#top-news{
}
#top-news h4{
    margin-top:15px;
    height:42px;line-height:44px;font-size:22px;color:#243592;font-weight: bold;
    text-align: center;
}
#top-news p {
    font-size:16px;
    line-height:26px;
    height:52px;
    box-sizing: border-box;
    color:#444;
    text-indent: 2em;
    margin-top:10px;
    position:relative;left:0;top:0;
}
#top-news p a.detail{
    position: absolute;right:0;bottom:0;color:#ff0000;
}
#index-news-ctnt .text-list{margin-top:32px;}
#index-news-ctnt .text-list .item,#index-news-ctnt .text-list .rt{
    line-height:46px;height:46px;
}
#index-news-ctnt .text-list .item{
    border-bottom:1px dashed #cacaca;
}
.text-list .item{
    height:40px;line-height:40px;border-bottom:1px dashed #ccc;
}
.text-list .item .lft{
    height:40px;background-image: url(../images/text-list-icon.png);width:18px;
}
#subPage-text-list .item{
    height:40px;line-height:40px;
    border:none;font-size: 15px;
}
#subPage-text-list hr{
    display:block;
    border-bottom:1px dashed #ddd;
    margin: 20px auto;
    border-top:none;
}

#subPage-text-list .item .lft{
    height:40px;background-image: url(../images/text-list-icon.png);
}

.adv img.adv-img{
    width:100%;height:100%;display:block;
}

.news5-title {
    height:32px;
    border-bottom: 2px solid #4180c6;
    background-color: #f6f6f6;
    box-sizing: border-box;
    font-weight: normal;
}
.news5-title a.tab-title{
    height:30px;line-height:30px;display:block;float:left;
    padding:0 20px 0 33px;
    background-image: url(/images/menu_icon.png);
    background-repeat: no-repeat;
    margin-right:5px;
}
.news5-title a.menu1{
    background-position: 3px 4px;
}
.news5-title a.menu2{
    background-position: -482px 5px;
}
.news5-title a.menu3{
    background-position: -654px 6px;
}
.news5-title a.menu4{
    background-position: -300px 4px;
}
.news5-title a.menu5{
    background-position: -1148px 3px;
}
.news5-title a.on{
    background-color: #1664bb;
    color:white;
    background-position-y:-66px;
}

#news5-ctnt5 {
    height:300px;overflow:hidden;
    padding:8px 0;
    box-sizing: border-box;
}
#news5-title .more{
    font-size:12px;
    line-height:32px;
}
#news5-ctnt5 .lst .img-item{
    display:block;
    float:left;
    width:64px;height:64px;
    background-color: #d4e9fb;
    margin:6px 9px;
}
#news5-ctnt5 .lst .img-item:hover{
    background-image: url(../images/zwfw_icon_h.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#news5-ctnt5 .lst .text-item{
    width:120px;height:35px;display:block;
    background-color: #d4e9fb;
    margin:6px 12px 6px 0;
    text-align: center;
    color:#247cc1;
    line-height:35px;
    float:left;
}

#news5-ctnt5 .lst .text-item:hover{
    background-image: url(../images/zwfw_c_icon_h.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#news5-ctnt5 .lst .img-item img{
    display:block;width:100%;height:100%;
}
.btn{
    display:inline-block;
    padding:0 22px;
    border-radius: 4px;
    border:none;
    font-size:16px;
    height:27px;
    line-height:27px;
    text-align: center;
}

.btn-blue{
    background-color: #95d3f7;
    color:white;
    border-radius: 13px;
}
.btn-blue-on{
    background-color: #fea904;
}
.btn-gray{
    border:1px solid #cfcfd0;
    background-color: #95d3f7;
    color:#1e1f1c;
    border-radius: 8px;
    background-image: linear-gradient(to top,#eae9e8,#fdfdfc);
    height:34px;
    line-height:34px;
    display:inline-block;
}

#wsbs .btn-gray{
    width:88%;
    display:block;
    margin:10px auto;
    padding:0;
    font-size:14px;
}
#tsdh{
    background-image: linear-gradient(to bottom,white,#f0f0f0);
    padding:12px 30px;
    border:1px solid #ddd;
    border-radius: 6px;
    width:94%;
    margin:10px auto;
}
#tsdh h4{
    font-size:18px;color:#cd1c28;
}
#tsdh p{
    font-size:15px;font-weight: normal;color:#666;padding-bottom:6px;
}
#tsdh .tel{
    padding-left:48px;
    background-repeat:no-repeat;
    background-position:left center;
    background-size: 35px 35px;
    border-bottom: 1px solid #ddd;
    padding-top:6px;
}
#tsdh .tel1{
    background-image:url(../images/phone-ico1.png);
}
#tsdh .tel2{
    background-image:url(../images/phone-ico2.png);
}
#tsdh .tel3{
    background-image:url(../images/phone-ico3.png);
}
#adv-4 .adv img{
    display:block;width:225px;height:88px;margin:0 auto;
}

#adv-4 {
    border:1px solid #ddd;
    padding:15px 6px;
}

#yq-title {
    border:1px solid #ececec;
    background-image: linear-gradient(to bottom,#fdfefd,#f1f2f1);
    height:46px;
    
}
#yq-title span{
    display:block;float:left;height:46px;line-height:46px;
    padding:0 40px;
    font-size:20px;
    color:#595757;
    cursor: pointer;
}
#yq-title span.on{
    color:#d80c18;
}
#yq-body{
    text-align: left;
    min-height:180px;
    border:1px solid #e0e0e0;
    border-top:none;
}
#yq-body a{
    display:block;
    float:left;
    margin:0 20px;
    font-size:18px;
    color:#595757;
}
#yq-body a:hover{
    color:#d80c18;
}
#yq-title .title{
    height:46px;
    line-height:46px;
    color:white;
    padding:0 40px 0 30px;
    background-image: url(../images/index-title-bg.png);
    background-position: right center;
}

    
    
#subPage-text-list {
    padding:25px 10px;min-height:500px;
}
#subPage-text-list a.item .lft{
    background-image: url(../images/text-list-icon.png);
}

#imglist .table th{
    background-color: #81a7d2;
    border-color: #81a7d2;
    font-weight: normal;
    font-size:16px;
}
#imglist .table td{
    padding:10px;font-size:12px;
}

#sel-title{
    padding:13px 13px 10px;
    background-color: #eee;
}
#sel-title span,#sel-title select{
    float:left;display:block;height:27px;line-height:27px;font-size:18px;
}
#sel-title span{
    width:80px;text-align: right;color:#0060cb;padding-right:10px;
}
#sel-title select{
    border-radius: 4px;width:130px;
}

#guide-text-list{
    padding:20px 10px;
}
#guide-text-list .item{
    color:#010101;font-size:14px;
}




#index-rdgz a{
    display:block;width:181px;height:95px;
    float:left;
    margin:8px 0;
}
#index-rdgz img{
    display:block;width:100%;height:100%;
}

#index-xjrm .text-list .item,#index-gggs .text-list .item{
    height:33px;line-height:33px;
}
#index-xjrm .text-list .item .lft,#index-gggs .text-list .item .lft{
    height:33px;
}
#index-gzcy{
    padding-top:28px;
}
#index-gzcy a{
    float:left;
    display:block;
    width:90px;
    margin-left:7px;
}
#index-gzcy a img{
    display:block;
    width:100%;height:104px;
}
#index-gzcy a span{
    display:block;width: 100%;text-align: center;
    font-size:19px;
    line-height:27px;color:#3e3a39;
    padding-top:24px;
}
#jd-tab{
    display:block;
    width:150px;
    float:left;
}
#jd-tab a{
    display:block;
    width:140px;
    height:34px;
    line-height: 34px;
    color:#3e3a39;
    background-image: linear-gradient(to bottom,#fdfefd,#f2f2f2);
    text-align: center;
    border:1px solid #e6e6e6;
    margin:2px 0;
    position: relative;
    left:0;top:0;
}
#jd-tab a:hover{
    background-image: linear-gradient(to bottom,#fdfefd,#f2f2f2 50%,#f6f6f6 100%);
}
#jd-tab a span.rt{
    opacity: 0;
    background-image: url(../images/red-rt.png);
    background-position: left center;
    background-repeat: no-repeat;
    display:block;
    width:8px;
    height:35px;
    position: absolute;
    right:0;
    top:0;
}
#jd-tab a.on{
    background-color: #dd0b23;
    background-image: none;
    color:white;
}
#jd-tab a.on span.rt{
    transition: all 0.3s ease 0s;
    opacity: 1;
    right:-8px;
}
#jd-body {
    width:630px;
    float:right;
}

#ztbg-title {
  /*  color:white;background-color: #d80c18;
    font-size:26px;
    font-weight: bold;    */
    width: 36px;
    height: 180px;
    text-align: center;
    padding-top: 19px;
    background-image: url(../images/title3.png);
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    left:0;top:-10px;
    
}
#ztbg-body{ overflow:hidden; position:relative;  }
#ztbg-body .wrap{ padding:10px;   }
		#ztbg-body .wrap ul{ overflow:hidden; zoom:1; }
		#ztbg-body .wrap ul li{ float:left; _display:inline; overflow:hidden; text-align:center; display:block;width:280px;margin:0 13px; }
		#ztbg-body .wrap ul li .pic{ text-align:center; }
		#ztbg-body .wrap ul li .pic img{ width:280px; height:230px; display:block; padding:2px; border:1px solid #ccc; margin:20px auto 10px;}
		#ztbg-body .wrap ul li .pic a:hover img{ border-color:#999;  }
		#ztbg-body .wrap ul li .title{ line-height:24px; color:#888;font-size:16px;  }


.news-wrap {
    height:32px;border:2px solid #bf1a20;
}
.news-wrap .title{
    display:block;
    float:left;
    background-color: #c5171d;
    background-image: url(../images/icon-voice.png);
    background-position: right center;
    color:white;
    height:100%;
    line-height:28px;padding-right:38px;
    background-repeat: no-repeat;
}

.news-wrap .text-wrap {
    display:block;
    width:600px;
    margin-left:120px;
    height:100%;overflow: hidden;
}
.news-wrap .text-wrap li{
    display: block;float:left;height:32px;line-height:32px;overflow: hidden;
    width:300px;
    box-sizing: border-box;
}
.news-wrap .text-wrap li a{
    display:block;height:32px;width:100%;box-sizing: border-box;
    padding-left:20px;
    background-image:url(../images/text-list-icon.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    color:#474646;
}

#btm-tab {
    height:38px;
    line-height:38px;
    border:1px solid #dfdfdf;
    background-color: #f4f4f4;
    box-sizing: border-box;
}
#btm-tab a,#btm-tab span{
    display:block;
    line-height:36px;height:36px;
    color:#040000;
}
#btm-tab a.tab-title{
    float:left;padding:0 12px;position: relative;left:0;bottom:-1px;
}
#btm-tab a.more{
    float:right;font-size:12px;margin-right:15px;
}
#btm-tab a.on{
    border-top:2px solid #bf1a20;
    background-color: white;
}
#index-btm{
    height:140px;
}
#index-btm .item{
    display:block;float:left;
    width:16.66%;
}
#index-btm .item div{
    width:135px;height:100px;
    margin:25px auto 15px;
    background-color: #dedfe0;
    text-align: center;
    padding-top:15px;
    box-sizing: border-box;
}
#index-btm .item div img{
    display:block;height:46px;width:auto;margin:0 auto 8px;
}
#index-btm .item div span.text{
    display:block;
    height:24px;line-height:24px;
    color:#175dab;
}

#fd-link span.tab-title{
    background-color:#f4f4f4;
}



#aside {
    display:block;float:left;width:205px;margin:20px 40px;
}

.text-list-title {
    height:27px;line-height:27px;
    color:#000;
    font-size:16px;
    padding:0 15px;
    background-color: #e9e9e9;
    margin-bottom:8px;
}
.text-list-title .more{
    float:right;font-size:12px;line-height:27px;height:27px;
}


#breadcrumb2 {
    height:43px;line-height:43px;font-size:14px;color:#666666;border-bottom: 3px solid #1b2c92;box-sizing: content-box;
    padding-bottom:2px;text-indent: 1em;
    text-align: right;
    box-sizing: border-box;
    padding-right: 15px;
}

#body-bg {
    display: block;
    width:2259px;
    height:1032px;
    background-image: url(../images/index-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-1129.5px;
    z-index:0;
}

#nav .icon{
    display:inline;padding:7px 23px;
    background-repeat:no-repeat;
    background-size: 40px auto;
}
.icon-1 {
    background-image: url(../images/icon-1.png);
}
.icon-0 {
    background-image: url(../images/icon-0.png);
}
.icon-2 {
    background-image: url(../images/icon-2.png);
}
.icon-3 {
    background-image: url(../images/icon-3.png);
}
.icon-4 {
    background-image: url(../images/icon-4.png);
}
.icon-5 {
    background-image: url(../images/icon-5.png);
}
.icon-6 {
    background-image: url(../images/icon-6.png);
}

#nav-btm {
    border-bottom:2px solid #243592;height:4px;
}

.mt20 {
    margin-top:20px ! important;
}
.slideBox .hd ul{
    height:auto;bottom:0;
}
.slideBox .hd ul li{
    width:34px;height:34px;border-radius: 0;background:none;line-height:43px;color:white;
}
.slideBox .hd ul li.on{
    background:url(../images/slide-on.png) no-repeat center ;
}

#index-zbdh {
    font-size:21px;color:#444;
    background:url(../images/icon-hot.jpg) left top no-repeat;
    height:101px;line-height:101px;
}
#index-zbdh span{
    display:block;line-height:35px;margin-top:15px;padding-left:100px;
}
#index-zbdh span.line1{
    display:block;line-height:70px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}

#index-floor3 .span3{
    width:330px
}
#index-floor3 .span6{
    width:480px;
}

.thumb-w {
    display:block;width:100%;height:auto;
}
#index-btn{text-align:center;}
#index-btn .item{
    display:inline-block;width:260px;
}
#index-btn .item thumb{display:block;width:140px;height:140px;margin:10px auto;}
#index-btn .item .text{font-size:13px;color:#666;line-height:2em;display:block;text-align: center;}
#index-btn .item .title{font-size:18px;color:#181818;margin-top:15px;}


#index-panel-table .text{color:#666;}
#index-panel-table .on{
    color:#ff0000;
}

#index-table table{
    width:100%;margin-top:5px;
}
#index-table table,#index-table tr,#index-table td{
    border-collapse: collapse;border:1px solid #ddd;
}
#index-table th{
    border:none;background-color: #c3d5f1;color#:3d4d9f;height:23px;font-weight: normal;
}
#index-table td{
    color:#333;height:22px;font-size:12px;text-align: center;
}
.index-first {
    padding:0 12px;
    background-image: url(../images/icon-xz.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}

#fd-link{
    display:block;
    background:url(../images/fd-link.jpg) center bottom no-repeat;
    height:264px;
    box-sizing: border-box;
}
#fd-link h4{
    display:block;
    height:43px;line-height:43px;font-weight: normal;
    border-bottom:2px solid #ddd;
}
#fd-link h4 .title{
    font-size:25px;color:#243997;padding:0 12px;font-weight: bold;
}
#fd-link h4 .tag{
    display:block;width:6px;height:25px;float:left;background-color: #243997;margin-top:11px;
}
#fd-link h4 span.text{
    color:#000;font-size:18px;padding:0 22px;background-color: white;
}
#fd-link h4 span.on{color:#1743ab;}
#fd-body{
    padding:32px 22px;line-height:2.2em;
}
#fd-body a{font-size:16px;color:#333;padding:0 22px;}

.icon-pos {
    background: url(../images/icon-pos.png) center no-repeat;
    padding:4px 12px;
}

.menu{
    display:block;border:1px solid #ddd;margin-top:10px;
}
.menu-title{
    display:block;height:40px;line-height:40px;font-size:18px;color:white;text-align: center;background:url(../images/bg-menu-title.png) top center no-repeat;
    
}
.menu-item{
    display:block;width:100%;padding:18px 15px 18px 40px;background:url(../images/icon-menu-child.png) 10px 25px no-repeat;line-height:22px;font-size:16px;color:#222;border-bottom: 1px solid #ddd;
}
.menu-item-on,.menu-item:hover{
    color:#c24050;background-color: #f2f2f2;
}
.icon-gh{
    padding:0 22px 0 12px;
    background:url(../images/icon-country-tag.png) center no-repeat;
}

.select-dh {
    display:block;width:100%;height:38px;line-height:38px;text-align:center;font-size:16px;margin-top:15px;text-align-last: center;
}

.bd-gray {
    border:1px solid #ddd;
}


#content-title {
    display:block;height:51px;
    background:url(../images/bg-main-content.png) left center repeat-x;
    color:#132492;font-size:18px;line-height:51px;
    border-bottom:1px solid #ddd;text-indent: .5em;
    
}
#content-title .tag{
    display:block;width:5px;height:22px;float:left;margin-left:15px;margin-top:15px;background-color: #132492;
}

#main-content {
    display:block;border:1px solid #ddd;min-height:480px;margin-top:10px;
}

#article {
    padding:2em 1.5em;
}
.color-red{
    color:#ff0000;
}